@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background: url(images/bg-pattern-bottom.svg);
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#top {
    background: url(images/bg-pattern-card.svg);
    width: 300px;
    height: 150px;
}

h1 {
    display: inline;
}

#mid {
    background-color: white;
    width: 300px;
}

#base {
    background-color: white;
    width: 300px;
}