@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 150px auto 10px;
    letter-spacing: 1px;
    width: 400px;
    text-align: center;
}

hr {
    margin: 0 auto;
    width: 80px;
    height: 5px;
    background-color: rgb(91, 155, 214);
}

#container {
    background-color: white;
    width: 550px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
    box-shadow: 2px 2px 15px gray;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h2 {
    font-size: 1rem;
    letter-spacing: 1.5px;
}

h3 {
    font-size: 0.95rem;
    color: rgb(91, 155, 214);
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 200;
}

p {
    color: gray;
}

.sign span {
    font-size: 2rem;
    color: rgb(91, 155, 214);
    margin: 0.2em;
}

.sign span:hover {
    cursor: pointer;
}

button {
    padding: 0.4em;
    border-radius: 10px;
    background-color: white;
    color: rgb(91, 155, 214);
    border: 2px solid rgb(91, 155, 214);
    font-size: 0.8rem;
    text-transform: uppercase;
}

button:hover {
    color: white;
    background-color: rgb(91, 155, 214);
    cursor: pointer;
}